
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
body {

    background: #f3f4f8;
    color: #374049;

}

.wrapper {
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    box-shadow:1px 1px 10px rgba(0, 0, 0, 0.06);
}
.wrapper .navbar {
    position: relative;
}

.title-1
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
    font-style: normal;
    margin-top: 16px;
    color:#374049;
    font-family: 'Share Tech Mono', monospace;

}


.wrapper .navbar .profile_wrap {
    padding: 25px;
    text-align: center;
}
.wrapper .navbar .profile_wrap .profile_img {
    width: 70px;
    display: block;
}
.wrapper .navbar .profile_wrap .profile_img img {
    width: 100%;
}
.wrapper .navbar .profile_wrap .profile_info .name {
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 800;
    color: #374049;
}
.wrapper .navbar .profile_wrap .profile_info .role {
    font-weight: 600;
    font-size: 15px;
    color: #90959b;
}

.wrapper .navbar ul 
{
    padding: 20px 30px;
}
.wrapper .navbar ul li > a {
    display: block;
    position: relative;
    font-size: 17px;
    height: 40px;
    color: #9ca0a5;
  
    transition: all 2s ease;
  
}
.wrapper .navbar ul li a span.icon {
    margin-right: 10px;
}

.wrapper .navbar ul li a > span {
    display: inline-block;
}




a.active .icon,
a:hover .icon
{
    color: #ffad41;
}
a.active .title,
a:hover .title
{
    color: #afb6bd;
}

.header-container{
    width: 70%;
    margin: auto;
    
}



